*
{
    box-sizing: border-box;
}
body {
    font-family: "Dosis", sans-serif;
    margin: 0;
    color:white;
    font-size: 1.2rem;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6{  
    font-family: "Fjalla One", sans-serif;
    color: brown;
    border-bottom: dotted 3px white;
   font-style: italic;
   text-transform: uppercase;
}
h1 span {
    font-size: 5rem;
    color:blue;
    display: block;
    background-color: white;
}
.wrapper {
   background-color: black;
   padding: 2rem
}
.highlight {
    background-color: blue;
    color: white;
    padding: 0.2rem 0.5rem;
}
.fancy-text {
    font-family: cursive;
    font-size: 1.5rem;
    color: yellow;
}
nav ul li{
    font-family: "Fjalla One", sans-serif;
    list-style: none;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem 2rem;
    color: red;
} 
nav ul{
    background-color: brown;
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
}
nav ul a{
    color: white;
    text-decoration: none;
}
nav ul a:hover{
    color: yellow;
    text-decoration: underline;
}
header{
    padding: 6rem 4rem 4rem 4rem;
}
main {
    width: 80%;
    margin: 0;
}
figure {
    width: 350px;
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: lightgrey;
    display: inline-block;
    vertical-align: top;
}
figure img {
    width: 100%;
    height: 100%;
}
figcaption {
    font-family:fantasy;
    color:blue;
}
figure:first-of-type{
    transform: rotate(-15deg);
}
figure:nth-of-type(2){
    transform: rotate(15deg);
}
figure:nth-of-type(3){
    transform: rotate(-15deg);
}